fastapi==0.110.0
uvicorn==0.29.0
pika==1.3.2
gunicorn==21.2.0
requests==2.31.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.9  # PostgreSQL için
pymongo==4.6.1  # MongoDB için (Eğer kullanıyorsan)
python-dotenv==1.0.1  # Çevresel değişkenler için
